body{
    display: flex;
}

.title {
    background-image: url("Toronto Skyline.jpg");
    color: white;
    text-align: center;
}
.education{
    background-color: #E0E0DB;
    color: #253551;
    text-align: left;
}

h1 {
    font-family: 'Nunito Sans', serif;
    font-size: 3vw;
 }
h2 {
    font-family: 'Nunito Sans', serif;
    font-size: 2vw;
}

h3 {
    font-family: 'Nunito Sans', serif;
    font-size: 1vw;
}

p {
    font-family: 'Nunito Sans', serif;
    font-size: 1vw;
}