/* Navigation bar*/
  
  .navigationbar {
    float: right;
    display: flex;
    color: #253551;
    text-align: center;
    vertical-align: middle;
    padding: 50px 50px;
    text-decoration: none;
    
  }
  .navigationbarleft {
    float: left;
    display: block;
    color: #253551;
    text-align: center;
    padding-top: 50px;
    padding-left: 50px;
    text-decoration: none;
  }
  .navigationbarleft .linkedin {
    padding-left: 20px;
  }

  .emailButton {
    border: none;
    background: none;
    display: flex;
    color: #253551;
    text-align: center;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
    font-weight:bold;
    font-size: 18px;

  }
  .emailButton:hover {
    cursor: pointer;
  }
.buttonlabel{
  color: white;
  text-decoration: none;
}
  /* Scroll Arrow Pointing Down Start */
  .scroll-down {
    position: absolute;
    left: 50%;
    bottom: 30px;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 50px;
    height: 50px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    z-index: 9;
    left: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 4s ease-in-out infinite;
    -moz-animation:    fade_move_down 4s ease-in-out infinite;
    animation:         fade_move_down 4s ease-in-out infinite;
  }
  /*animated scroll arrow animation*/
  @-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @keyframes fade_move_down {
    0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  /* Scroll Arrow Pointing Down End */
  *{
    margin: 0;
    padding: 0;
}

  html{
    margin: 0;
    font-family: "Nunito Sans";
    padding: 0 0;
    border: 0 0;
    scroll-behavior: smooth;
}

.title {
    background-image: url("Toronto Skyline.jpg");
    background-position: center 100%;
    height: 100vh;
    width: 100%;
    position: relative;
    color: white;
    text-align: center;
}
.titletext {
    padding: 50vh 0;

    animation: fadeIn 2s;
}

table{
border-width: 10px;
table-layout: fixed;
}

.thtitle {
  text-align: center;
  width: 50%;
  border-width: 10px;
  
}

.titlebutton{
  background-color: transparent;
  border-color: white;
  border-style: solid;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 10px;
  cursor: pointer;
  border-radius: 20px;
  color: white;
  font-family: 'Nunito Sans', serif;
  font-weight:bold;
  transition: 0.5s;
}

.titlebutton:hover{
  background-color: white;
  color: #253551;
  
}

.education{
    background-color: #E0E0DB;
    color: #253551;
    text-align: left;
    padding: 70px;
    height: 100vh;
}
.left-to-right-animation{
  animation: right_to_left 2s;
}

.educationimg{
  height: 20vh;
  
}
.technicalskills{
    background-color: rgba(0,0,0,0.77);
    color: #253551;
    text-align: left;
    padding: 70px;
    height: 100vh;
}
.experience{
    background-color: #253551;
    color: white;
    text-align: left;
    padding: 70px;
    height: 100vh;
}
/* // VERTICAL TIMELINE // */
/* The actual timeline (the vertical ruler) */
.timeline {
  box-sizing: border-box;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
/* Container around content */
.timeline-container {
  box-sizing: border-box;
  padding: 10px 50px;
  position: relative;
  background-color: #253551;
  width: 50%;
}
/* The circles on the timeline */
.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #E0E0DB;
  border: 4px solid #eb8d31;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
/* Place the container to the left */
.timeline-left {
  left: 0;
}
/* Place the container to the right */
.timeline-right {
  left: 50%;
}
/* Add arrows to the left container (pointing right) */
.timeline-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}
/* Add arrows to the right container (pointing left) */
.timeline-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}
/* Fix the circle for containers on the right side */
.timeline-right::after {
  left: -16px;
}
/* The actual content */
.timeline-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
 }

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
/* Full-width containers */
  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
/* Make sure that all arrows are pointing leftwards */
  .timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
/* Make sure all circles are at the same spot */
  .timeline-left::after {
    left: 15px;
  }
  .timeline-right::after {
    left: 15px;
  }
/* Make all right containers behave like the left ones */
  .timeline-right {
    left: 0px;
  }
}
/* Style copy */
.timeline-date {
  color: #253551; font-weight: 600;
}
.timeline-title {
    color: #253551; font-weight: 800;
  }
.timeline-copy {
  color: black !important;
}
/* // VERTICAL TIMELINE END // */

.projects{
    background-color: rgb(85, 82, 82);
    color: #253551;
    text-align: left;
    padding: 70px;
    height: 100vh;
}

.wrap
{
  margin:50px auto 0 auto;
  width:100%;
  display:flex;
  align-items:space-around;
}
.tile
{
  width:380px;
  height:500px;
  margin:10px;
  background-color:#4D4D4D;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.75);
  overflow:hidden;
  color:white;
  border-radius: 50px;
}
.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text
{
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tile h1
{
  font-weight:300;
  margin: 0 0 0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tile h2
{
  font-weight:100;
  margin: 75% 0 0 0;
  font-style:italic;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
}
.tile p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
  transition-delay: 0.2s; */
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
}
.animate-text
{
  opacity:0;
  transition: all 0.6s linear;
}
.tile:hover
{
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.5);
  transform:scale(1.05);
}
.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}

.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}

.projecttiles{
  width: 100%;
  table-layout: fixed;
}

@media (max-width: 1000px) {
  .wrap {
   flex-direction: column;
    width:400px;
  }
}

.aboutme{
    /* background-color: rgb(85, 82, 82); */
    background: rgb(98,98,98);
    background: radial-gradient(circle, rgba(98,98,98,1) 28%, rgba(52,52,52,1) 100%);
    color: #253551;
    text-align: left;
    padding: 70px;
    height: 100vh;
}
.aboutmetile{
  width: 45%;
  height:65%;
  margin-top: 5%;
  margin-left: -150px ;
  background-color: rgba(0,0,0,0.77);
  display:inline-block;
  background-size:cover;
  position:absolute;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.75);
  overflow:hidden;
  color:white;
  border-radius: 50px;
}
.itemtiles{
  width: 800px;
  height: 125px;

  background-color: rgba(0,0,0,0.77);
  background-size:cover;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.75);
  overflow:hidden;
  color:white;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}
.chungus{
  position: relative;
  top: 50px;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  display: flex;
  width: 80%; 
  margin: auto;
}
.skilltile-grid{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 25%;
  gap: 25px;
  justify-content: center;
  overflow-wrap: break-word;
}


.skilltile {
  width: 100px;
  height: 100px;
  background-color: rgba(0,0,0,0.60);
  /* background-size:cover; */
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.75);
  color:white;
  font-size: 13px;
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: bottom;
}
.skilltile:hover{
  transform: scale(1.1,1.1);

} 

.python {
  background-image: url("Python\ Logo\ -\ BW.png");

}

.footer{
  background-color: #343434;
    color: white;
    text-align: center;
    padding: 70px;
}

h1 {
    font-family: 'Nunito Sans', serif;
    font-size: max(50px, 4vw);
 }
h2 {
    font-family: 'Nunito Sans', serif;
    font-size: max(2px, 2vw);
}

h3 {
    font-family: 'Nunito Sans', serif;
    font-size: max(10px, 1.25vw);
}
h4 {
  font-family: 'Nunito Sans', serif;
  font-size: max(5px, 1vw);
  color: #343434;;
}

p {
    font-family: 'Nunito Sans', serif;
    font-size: max(3px, 1vw);
}
table{
  padding: 30px;
  width: 100%;
  text-align: center;
}
td{
  width: 50%
}
.technicaltable{
  padding: 100px;
  width: 100%;
  text-align: center ;
  vertical-align: text-top;
}
.technicaltdcol{
  list-style-type: none;
  width: 33%;
}
.technicalimg{
  width: 50%;
  height: 50%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes right_to_left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0;
  }
}
