/*
Alignment
*/

/*
Background
*/
.title {
    background-image: url("Toronto Skyline.jpg");
}

h1 {
    color: white;
    font-family: 'Nunito Sans', serif;
    text-align: center;
    font-size: 8vw;
 }

h2 {
    color: white;
    font-family: 'Nunito Sans', serif;
    text-align: center;
    font-size: 4vw;
}